body{
    background-image: url(wel.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
h1{
    margin-left: 400px;
    margin-top: 200px;
    font-size: 100px;
    font-weight: 500;
}
h2{
    margin-left: 400px;
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 250;
    color: rgb(34, 27, 27);
}
/*.container{
    background-color: grey;
    border: 2px;
    box-shadow: 2px;
    size: 400px;
    max-width: fit-content;
    margin-left: 200px;
}*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    height: 100vh;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    background: grey;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
.navbar a {
    position: relative;
    font-size: 20px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.navbar a::before{
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;

}
.navbar a:hover::before{
    width: 100%;
}
.logo{
    font-size: 22px;
    text-decoration: none;
    font-weight: 600;
    color: white;
}
